body {
  background-color: bisque;
}

.card {
  max-height: 705px;
}

.card img {
  max-height: 544px;
}

.card-title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
